ux-dialog>ux-dialog-header,
ux-dialog>ux-dialog-body,
ux-dialog>ux-dialog-footer {
  border: none;
}

div.block-code.CodeMirror {
  display: block;
  width: fit-content;
  height: fit-content;
  margin: 0em auto;
  padding: 0.5em;
  border-radius: .25em;
  box-shadow: .1em .1em .5em rgba(0,0,0,.25);
}

div.block-code pre {
  margin-bottom: 0;
}
